@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-bg: #16a34a;
}

@layer base {

  html,
  body {
    @apply dark:bg-trueGray-900;
  }
}

.smoke {
  width: 100vw;
  height: 100vh;
}

.MuiDateRangeCalendar-root div[style*="position: absolute"] {
  display: none !important;
}

.bg-green {
  background-color: var(--main-bg);
}

.MuiDateRangeCalendar-root {
  display: flex;
  justify-content: center;
  height: 50%;
}

.css-grqin-MuiButtonBase-root-MuiPickersDay-root-MuiDateRangePickerDay-day.Mui-selected {
  background-color: var(--main-bg) !important;
}

.css-1ny3jyh-MuiDateRangePickerDay-root {
  background-color: rgb(220 252 231) !important;
}

.css-1jt0kfk-MuiDateRangePickerDay-root {
  background-color: rgb(220 252 231) !important;
}

.css-f8wito-MuiDateRangePickerDay-root {
  background-color: rgb(220 252 231) !important;
}

.css-grqin-MuiButtonBase-root-MuiPickersDay-root-MuiDateRangePickerDay-day:focus {
  background-color: rgba(220, 252, 231, 0.6) !important;
}

.css-grqin-MuiButtonBase-root-MuiPickersDay-root-MuiDateRangePickerDay-day.Mui-selected:hover {
  background-color: rgb(21 128 61) !important;
}

.css-grqin-MuiButtonBase-root-MuiPickersDay-root-MuiDateRangePickerDay-day:focus.Mui-selected {
  background-color: rgb(22 101 52) !important;
}

.css-1h9r93t-MuiButtonBase-root-MuiPickersDay-root-MuiDateRangePickerDay-day.Mui-selected {
  background-color: rgb(21 128 61) !important;
}

.progress-ring__circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.height {
  height: 70vh;
}

#intake:focus-visible {
  outline-color: transparent;
}
