@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --main-bg: #16a34a;
}

@layer base {
  html,
  body {
    @apply dark:bg-trueGray-900;
  }
}

.smoke{
  width: 100vw;
  height: 100vh;
}

.MuiDateRangeCalendar-root
div[style*="position:absolute"] {
  display: none !important;
}

.bg-green{
  background-color: var(--main-bg);
}